---
layout: layouts/base.njk
permalink: news/index.html
---
<section>
			<div class="container">
				
<div id="post-list" class="row"></div>

			</div>
		</secti		<section>
			<div class="container">

				<div id="post-list" class="row"></div>

                        <div class="row">
                                <div class="col-md-12 text-center">
                                        <ul id="pagination" class="pagination"></ul>
                                        <div id="pagination-info" class="pagination-help-text"></div>
                                </div>
                        </div>

                        </div>
                </section>on>

	
