<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="block">
          <h1 class="block-title">Info</h1>
          <div class="block-body">
            <figure class="foot-logo">
              <img src="{{ '/images/logo-light.png' | url }}" class="img-responsive" alt="Logo">
            </figure>
            <p class="brand-description">
              AventurOO — Top News, Tech &amp; AI, Travel &amp; Deals.
            </p>
            <a href="{{ '/about-us.html' | url }}" class="btn btn-magz white">About Us <i class="ion-ios-arrow-thin-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="block">
          <h1 class="block-title">Popular Tags <div class="right"><a href="#">See All <i class="ion-ios-arrow-thin-right"></i></a></div></h1>
          <div class="block-body">
            <ul class="tags">
              <li><a href="#">News</a></li>
              <li><a href="#">AI</a></li>
              <li><a href="#">Travel</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">AventurOO</a></li>
              <li><a href="#">Creative Mind</a></li>
              <li><a href="#">Standing On The Train</a></li>
              <li><a href="#">at 6.00PM</a></li>
            </ul>
          </div>
        </div>
        <div class="line"></div>
        <div class="block">
          <h1 class="block-title">Newsletter</h1>
          <div class="block-body">
            <p>By subscribing you will receive new articles in your email.</p>
            <form class="newsletter">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="ion-ios-email-outline"></i>
                </div>
                <input type="email" class="form-control email" placeholder="Your mail">
              </div>
              <button class="btn btn-primary btn-block white">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="block">
          <h1 class="block-title">Latest News</h1>
          <div class="block-body">
            <article class="article-mini">
              <div class="inner">
                <figure>
                  <a href="{{ '/article.html' | url }}">
                    <img src="{{ '/images/news/img12.jpg' | url }}" alt="Sample Article">
                  </a>
                </figure>
                <div class="padding">
                  <h1><a href="{{ '/article.html' | url }}">Donec consequat lorem quis augue pharetra</a></h1>
                </div>
              </div>
            </article>
            <article class="article-mini">
              <div class="inner">
                <figure>
                  <a href="{{ '/article.html' | url }}">
                    <img src="{{ '/images/news/img14.jpg' | url }}" alt="Sample Article">
                  </a>
                </figure>
                <div class="padding">
                  <h1><a href="{{ '/article.html' | url }}">eu dapibus risus aliquam etiam ut venenatis</a></h1>
                </div>
              </div>
            </article>
            <article class="article-mini">
              <div class="inner">
                <figure>
                  <a href="{{ '/article.html' | url }}">
                    <img src="{{ '/images/news/img15.jpg' | url }}" alt="Sample Article">
                  </a>
                </figure>
                <div class="padding">
                  <h1><a href="{{ '/article.html' | url }}">Nulla facilisis odio quis gravida vestibulum </a></h1>
                </div>
              </div>
            </article>
            <article class="article-mini">
              <div class="inner">
                <figure>
                  <a href="{{ '/article.html' | url }}">
                    <img src="{{ '/images/news/img16.jpg' | url }}" alt="Sample Article">
                  </a>
                </figure>
                <div class="padding">
                  <h1><a href="{{ '/article.html' | url }}">Proin venenatis pellentesque arcu vitae </a></h1>
                </div>
              </div>
            </article>
            <a href="#" class="btn btn-magz white btn-block">See All <i class="ion-ios-arrow-thin-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="line"></div>
        <div class="block">
          <div class="block-body no-margin">
            <ul class="footer-nav-horizontal">
              <li><a href="{{ '/' | url }}">Home</a></li>
              <li><a href="#">Partner</a></li>
              <li><a href="{{ '/page.html' | url }}">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          COPYRIGHT &copy; AventurOO 2025. ALL RIGHT RESERVED.
          <div>
            Made with <i class="ion-heart"></i> by <a href="https://aventuroo.com">AventurOO</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
