<header class="primary">
  <div class="firstbar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="brand">
            <a href="{{ '/' | url }}">
              <img src="{{ '/images/logo.png' | url }}" alt="AventurOO Logo">
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <form class="search" autocomplete="off" action="{{ '/search.html' | url }}" method="GET">
            <div class="form-group">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Type something here">
                <div class="input-group-btn">
                  <button class="btn btn-primary" type="submit"><i class="ion-search"></i></button>
                </div>
              </div>
            </div>
            <div class="help-block">
              <div>Popular:</div>
              <ul>
                <li><a href="{{ '/category.html' | url }}?cat=news">News</a></li>
                <li><a href="{{ '/category.html' | url }}?cat=ai-news">AI</a></li>
                <li><a href="{{ '/category.html' | url }}?cat=travel">Travel</a></li>
                <li><a href="{{ '/category.html' | url }}?cat=lifestyle">Lifestyle</a></li>
                <li><a href="{{ '/search.html' | url }}?q=AventurOO">AventurOO</a></li>
              </ul>
            </div>
          </form>
        </div>
        <div class="col-md-3 col-sm-12 text-right">
          <ul class="nav-icons">
            <li><a href="{{ '/register.html' | url }}"><i class="ion-person-add"></i><div>Register</div></a></li>
            <li><a href="{{ '/login.html' | url }}"><i class="ion-person"></i><div>Login</div></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Start nav -->
  <nav class="menu">
    <div class="container">
      <div class="brand">
        <a href="{{ '/' | url }}">
          <img src="{{ '/images/logo.png' | url }}" alt="AventurOO Logo">
        </a>
      </div>
      <div class="mobile-toggle">
        <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
      </div>
      <div class="mobile-toggle">
        <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
      </div>
      <div id="menu-list">
        <ul class="nav-list">
          <li class="for-tablet nav-title"><a>Menu</a></li>
          <li class="for-tablet"><a href="{{ '/login.html' | url }}">Login</a></li>
          <li class="for-tablet"><a href="{{ '/register.html' | url }}">Register</a></li>
          <li><a href="{{ '/' | url }}">HOME</a></li>

          <li class="dropdown magz-dropdown">
            <a href="{{ '/category.html' | url }}?cat=news">News <i class="ion-ios-arrow-right"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{{ '/category.html' | url }}?cat=top-stories">Top Stories</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=politics">Politics</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=economy">Economy</a></li>
              <li class="dropdown magz-dropdown">
                <a href="{{ '/category.html' | url }}?cat=business-finance">Business &amp; Finance <i class="ion-ios-arrow-right"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ '/category.html' | url }}?cat=markets-economy">Markets &amp; Economy</a></li>
                  <li><a href="{{ '/category.html' | url }}?cat=companies-startups">Companies &amp; Startups</a></li>
                  <li><a href="{{ '/category.html' | url }}?cat=personal-finance">Personal Finance</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="{{ '/category.html' | url }}?cat=tech-ai">Tech &amp; AI <i class="ion-ios-arrow-right"></i></a>
            <div class="dropdown-menu megamenu">
              <div class="megamenu-inner">
                <div class="row">
                  <div class="col-md-3">
                    <h2 class="megamenu-title">AI &amp; BIG TECH</h2>
                    <ul class="vertical-menu">
                      <li><a href="{{ '/category.html' | url }}?cat=ai-news">AI News</a></li>
                      <li><a href="{{ '/category.html' | url }}?cat=big-tech">Big Tech</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h2 class="megamenu-title">INNOVATION</h2>
                    <ul class="vertical-menu">
                      <li><a href="{{ '/category.html' | url }}?cat=innovation-gadgets">Innovation &amp; Gadgets</a></li>
                      <li><a href="{{ '/category.html' | url }}?cat=gaming-tech">Gaming Tech / AI Gaming</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h2 class="megamenu-title">SECURITY</h2>
                    <ul class="vertical-menu">
                      <li><a href="{{ '/category.html' | url }}?cat=security-privacy">Security &amp; Privacy</a></li>
                      <li><a href="{{ '/category.html' | url }}?cat=internet-platforms">Internet &amp; Platforms</a></li>
                      <h2 class="megamenu-title">Creator</h2>
                      <li><a href="{{ '/tech-ai/audio-creator' | url }}">Audio &amp; Creator Tools</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h2 class="megamenu-title">CRYPTO</h2>
                    <ul class="vertical-menu">
                      <li><a href="{{ '/category.html' | url }}?cat=bitcoin-majors">Bitcoin &amp; Majors</a></li>
                      <li><a href="{{ '/category.html' | url }}?cat=altcoins-web3">Altcoins &amp; Web3</a></li>
                      <li><a href="{{ '/category.html' | url }}?cat=regulation-security">Regulation &amp; Security</a></li>
                      <li><a href="{{ '/crypto/guides' | url }}">Guides Crypto</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="dropdown magz-dropdown">
            <a href="{{ '/category.html' | url }}?cat=entertainment">Entertainment <i class="ion-ios-arrow-right"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{{ '/category.html' | url }}?cat=movies">Movies</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=tv-streaming">TV-Streaming</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=trailers">Trailers</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=cinematography">Cinematography</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=history-essays">History &amp; Essays</a></li>
            </ul>
          </li>

          <li class="dropdown magz-dropdown">
            <a href="{{ '/category.html' | url }}?cat=lifestyle">Lifestyle <i class="ion-ios-arrow-right"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{{ '/category.html' | url }}?cat=health">Health</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=beauty-style">Beauty &amp; Style</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=home-design">Home &amp; Design</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=inspiration">Inspiration</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=outdoor">Outdoor</a></li>
              <li class="dropdown magz-dropdown">
                <a href="{{ '/category.html' | url }}?cat=food-drink">Food &amp; Drink <i class="ion-ios-arrow-right"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ '/category.html' | url }}?cat=food">Food</a></li>
                  <li><a href="{{ '/category.html' | url }}?cat=drink">Drink</a></li>
                  <li><a href="{{ '/category.html' | url }}?cat=guides">Guides</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown magz-dropdown">
            <a href="{{ '/category.html' | url }}?cat=travel">Travel <i class="ion-ios-arrow-right"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{{ '/category.html' | url }}?cat=trip-ideas">Trip Ideas</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=destinations">Destinations</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=tips-planning">Tips &amp; Planning</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=stays-hotels">Stays (Hotels)</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=experiences">Experiences</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=transport">Transport</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=things-to-do">Things To Do</a></li>
            </ul>
          </li>

          <li class="dropdown magz-dropdown">
            <a href="{{ '/category.html' | url }}?cat=culture-arts">Culture &amp; Arts <i class="ion-ios-arrow-right"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{{ '/category.html' | url }}?cat=culture">Culture</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=arts">Arts</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=history">History</a></li>
            </ul>
          </li>

          <li class="dropdown magz-dropdown">
            <a href="{{ '/category.html' | url }}?cat=shopping">Shopping <i class="ion-ios-arrow-right"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{{ '/category.html' | url }}?cat=tech-deals">Tech Deals</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=subscriptions">Subscriptions</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=travel-deals">Travel Deals</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=vpn-security">VPN &amp; Security</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=marketplaces">Marketplaces</a></li>
              <li><a href="{{ '/category.html' | url }}?cat=multi-merchant">Multi-merchant Networks</a></li>
            </ul>
          </li>

          <li><a href="{{ '/about-us.html' | url }}">About Us </a></li>
          <li><a href="{{ '/archive.html' | url }}">Archive</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End nav -->
</header>
