---
layout: layouts/base.njk
permalink: category.html
---
<section class="category">
		  <div class="container">
		    <div class="row">

				
		      <div class="col-md-8 text-left">
		        <div class="row">
		          <div class="col-md-12">        
		            <ol class="breadcrumb">
		              <li><a href="#">Home</a></li>
		              <li class="active">Computer</li>
		            </ol>
		            <h3 class="page-title">Category: Computer</h3>
		            <p class="page-subtitle">Showing all posts with category <i>Computer</i></p>
		          </div>
		        </div>
		        <div class="line"></div>
		        <div class="row">
					
					<div id="post-list" class="row"></div>

                          <div class="col-md-12 text-center">
                            <ul id="pagination" class="pagination"></ul>
                            <div id="pagination-info" class="pagination-help-text"></div>
                          </div>
					
		        </div>
		      </div>
				
                      <div class="col-md-4 sidebar">
                        <aside id="sidebar-top-ad">
                          <div class="aside-body">
                            <figure class="ads">
                              <a href="{{ '/single.html' | url }}">
                                <img src="{{ '/images/ad.png' | url }}" alt="Advertisement">
                              </a>
                              <figcaption>Advertisement</figcaption>
                            </figure>
                          </div>
                        </aside>
                        <aside id="sidebar-recent">
                          <h1 class="aside-title">Recent Posts</h1>
                          <div class="aside-body" id="sidebar-recent-posts">
                            <p class="text-muted">Loading recent posts…</p>
                          </div>
                        </aside>
                        <aside id="sidebar-second-ad">
                          <div class="aside-body">
                            <figure class="ads">
                              <a href="{{ '/single.html' | url }}">
                                <img src="{{ '/images/ad.png' | url }}" alt="Advertisement">
                              </a>
                              <figcaption>Advertisement</figcaption>
                            </figure>
                          </div>
                        </aside>
                        <aside id="sidebar-mini">
                          <h1 class="aside-title">More Stories</h1>
                          <div class="aside-body" id="sidebar-mini-articles">
                            <p class="text-muted">Loading stories…</p>
                          </div>
                        </aside>
                        <aside id="sidebar-third-ad">
                          <div class="aside-body">
                            <figure class="ads">
                              <a href="{{ '/single.html' | url }}">
                                <img src="{{ '/images/ad.png' | url }}" alt="Advertisement">
                              </a>
                              <figcaption>Advertisement</figcaption>
                            </figure>
                          </div>
                        </aside>
                        <aside id="sidebar-subscribe">
                          <div class="aside-body">
                            <form class="newsletter">
                              <div class="icon">
                                <i class="ion-ios-email-outline"></i>
                                <h1>Newsletter</h1>
                              </div>
                              <div class="input-group">
                                <input type="email" class="form-control email" placeholder="Your mail">
                                <div class="input-group-btn">
                                  <button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
                                </div>
                              </div>
                              <p>By subscribing you will receive new articles in your email.</p>
                            </form>
                          </div>
                        </aside>
                      </div>
		    </div>
		  </div>
		</section>

<section class="best-of-the-week">
        <div class="container">
                <h1><div class="text">Best Of The Week</div>
                        <div class="carousel-nav" id="best-of-the-week-nav">
                                <div class="prev">
                                        <i class="ion-ios-arrow-left"></i>
                                </div>
                                <div class="next">
                                        <i class="ion-ios-arrow-right"></i>
                                </div>
                        </div>
                </h1>
                <div class="owl-carousel owl-theme carousel-1"></div>
        </div>
</section>
	
